body {
	margin: 0;
	padding: 0;
	background-color: #10e209;
}

.accordion button {
	background-color: rgba(255, 255, 255, 0.0);
	border: none;
	outline: none;
}

.ui-accordion .ui-accordion-header {
	padding-left: 0.0em;
}

.ui-accordion .ui-accordion-content {
	/*overflow: scroll;*/
	padding: 2px;
}

.ui-widget-content {
	border: 1px solid #dddddd !important;
}

.ui-state-active {
	color: black;
}

.ui-state-active .ui-icon {
	background-image: url(jquery-ui-1.12.custom/images/ui-icons_444444_256x240.png);
}

.accordion-container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 10px;
}

textarea {
	border: none;
	outline: none;
	overflow: scroll;
	/*resize: none;*/
	margin-left: -4px;
	min-height: 100%;
	max-width: 100%;
}

.form-control {
	width: 100%;
}



